/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
@font-face{
	font-family: "Advertising Gothic Demo";
	src: url("123.ttf");
	
}

 .root {
 	-fx-background-image: url("digger.png");
 }
 .button { 
 -fx-background-color: rgba(0,0,0,0.0);
 -fx-font-size: 34pt; 
 -fx-font-family: "Advertising Gothic Demo";
 -fx-text-fill: linear-gradient(#ffa500,#ffd700); 
}

.button:hover{
 -fx-text-fill: #000000;
}
