[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/s-suslik
[access "refs/for/refs/*"]
	read = group user/s-suslik
	push = group user/s-suslik
	label-Code-Review = -2..+2 group user/s-suslik
	label-Verified = -1..+1 group user/s-suslik
	rebase = group user/s-suslik
	removeReviewer = group user/s-suslik
	submit = group user/s-suslik
[access "refs/heads/*"]
	read = group user/s-suslik
	create = group user/s-suslik
	push = +force group user/s-suslik
	pushMerge = group user/s-suslik
[access "refs/tags/*"]
	push = +force group user/s-suslik
	pushTag = group user/s-suslik
	pushSignedTag = group user/s-suslik
